# --- Dependencies ---
**/node_modules/

# --- Backend (trial-room-api) ---
**/dist/
**/*.log
.env
.env.local

# --- Frontend (trial-room-app) ---
**/.angular/
**/www/
**/browser/
**/server/
/trial-room-app/dist/
/trial-room-app/out-tsc/
/trial-room-app/src/environments/environment.android-release.ts
**/*.jks
**/*.keystore

# --- OS/IDE Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db
